<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>L2WM</string>
	<key>CFBundleName</key>
	<string>L2WM</string>
	<key>CFBundleIdentifier</key>
	<string>com.piratkin.l2wm</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>This app needs to control Music app to terminate it when needed</string>
</dict>
</plist>
